extends contentHolder.pug

block content
    div(class="container")
        div(class="well")
            div(class="row")
                h2(class="col-md-12") Cue Doctor Cloth
            div(class="row")
                div(class="col-md-9")
                    div(class="row")
                        p(class="col-md-12").
                            is the ultimate improvement on cloths which didn't fill the needs of discriminating players.
                    div(class="row")
                        p(class="col-md-12").
                            It gives your cue the lustrous, lasting protection it needs, and reduces "drag" in the bridge hand. This
                            soft, double-napped cue cloth is impregnated with pure silicone and won't dry out, stain, or smell
                            like other cloths on the market.
                div(class="col-md-3")
                    img(src=require( '../images/cloth.jpg'), class="img-responsive img-rounded")