extends contentHolder.pug

block content
    div(class="container")
        div(class="well")
            div(class="row")
                h2(class="col-md-12") Cue Doctor Cloth
            div(class="row")
                div(class="col-md-9")
                    div(class="row")
                        p(class="col-md-12").
                            is a breakthrough formula that combines ease of use with ultimate protection and a silky-smooth feel.
                            It is a blend of pure Carnauba wax with silicones and other waxes that provides longer-lasting protection
                            without "build-up"
                    div(class="row")
                        p(class="col-md-12").
                            It is specially designed for cue shafts, after using CUE DOCTOR CUE SHAFT CLEANER &amp; CONDITIONER,
                            but is equally effective on urethane and polymer-coated portions of the cue. When used regularly
                            this wax repels moisture and dirt, thus keeping the cue looking and feeling like new, and playing
                            great!
                div(class="col-md-3")
                    img(src=require( '../images/wax.jpg'), class="img-responsive img-rounded")