extends contentHolder.pug

block content
    div(class="container")
        div(class="well")
            div(class="row")
                h2(class="col-md-12") Cue Doctor Cloth
            div(class="row")
                div(class="col-md-9")
                    div(class="row")
                        p(class="col-md-12").
                            has caused quite a positive stir, and it is well deserved. Every cue can acquire those annoying nicks
                            and dents in the shaft that can affect total concentration. This tool is simple, convenient, and
                            effective for removing those dents, without damaging the wood with steam or alcohol. It is made of
                            hardened borosilicate glass to assure the utmost in quality and consistency.
                    div(class="row")
                        p(class="col-md-12").
                            Simply rub the glass rod over the dent in the shaft lightly and vigorously until the clicking sound of
                            the dent fades away, as the dent is smoothed. This product can also be used to shine your worn Irish
                            linen wraps, or smooth out frays and scratches. It has repeatedly gotten high ratings and rave reviews,
                            and is well worth every player's consideration.
                div(class="col-md-3")
                    img(src=require( '../images/dent.jpg'), class="img-responsive img-rounded")