footer(class='footer')
    div(class='container')
        div(class='row border-between')
            div(class='col-md-3 text-muted') Fax:
                a(href='tel:515-232-0551') (515) 232-0551
            div(class='col-md-3 text-muted') Phone:
                a(href='tel:515-232-9977') (515) 232-9977
            div(class='col-md-3 text-muted') Toll Free:
                a(href='tel:888-428-3362') (888) 428-3362
            div(class='col-md-3 text-muted') Email:
                a(href='mailto:cuedoctor1@gmail.com') cuedoctor1@gmail.com