head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Cue Doctor
    link(rel='shortcut icon', href=require('../images/favicon.ico'))
    link(
        rel='stylesheet' 
        href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
        integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u'
        crossorigin="anonymous"
    )
    link(rel='stylesheet', href=require('../css/custom.css'))
    
    <!--[if IE]>
    <script src="https://unpkg.com/react@15/dist/react.min.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>

    <script src="./dist/bundle.js"></script>
    <![endif]-->
    <!--[if !IE]><!-->
    <script defer src="https://unpkg.com/react@15/dist/react.min.js"></script>
    <script defer src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>

    <script defer src="js/bundle.js"></script>
    <!--<![endif]-->