nav(class='navbar navbar-inverse navbar-fixed-top')
    div(class='container')
        div(class='navbar-header')
            a(class='navbar-brand', href='/')
                img(alt='Logo', src=require( '../images/cue_doctor_logo_plain_bg.svg'))
        div
            ul(class='nav navbar-nav')
                each product, index in htmlWebpackPlugin.options.products
                    if index === htmlWebpackPlugin.options.active
                        li(class='active')
                            a(href=product.url)= product.name
                                span(class='sr-only') (current)
                    else
                        li
                            a(href=product.url)= product.name
            ul(class='nav navbar-nav navbar-right')
                li
                    a(href='/retailers.html') Retailers