extends contentHolder.pug

block content
    div(class="container")
        div(class="well")
            div(class="row")
                h2(class="col-md-12") Cue Doctor Cloth
            div(class="row")
                div(class="col-md-9")
                    div(class="row")
                        p(class="col-md-12").
                            is an exclusive laboratory-tested formula which not only cleans but conditions the wood in one easy application.
                            Unlike some cleaners, it has no alcohol, acetone, or other harsh chemicals that can dry out the wood
                            and damage a cue shaft.
                    div(class="row")
                        p(class="col-md-12").
                            Instead, it is micro-targeted to gently lift out dirt and chalk residue while nourishing the wood and
                            leaving it with a soft sheen.
                    div(class="row")
                        p(class="col-md-12").
                            It is best used with cue CUE DOCTOR WAX for ultimate protection and a genuinely smooth stroke.
                div(class="col-md-3")
                    img(src=require( '../images/shaclean.jpg'), class="img-responsive img-rounded")