html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 70px;
}

.navbar {
    overflow: hidden;
    border-bottom-width: 0px;
}

.navbar-brand > img{
    width: 8em;
    position: relative;
    top: -55px;
}

.footer > .container {
    max-width: 900px;
}

.img-rounded {
    border-radius: 23px;
}

.container .text-muted {
    margin: 20px 0;
}

#root > div > .container {
    max-width: 900px;
}

noscript > .container {
    max-width: 900px;
}

@media(min-width:768px) {
    .navbar-header {
        border-bottom: 3px solid transparent;
    }

    ul li a:hover{
    border-bottom: 3px solid #ffd636;
    }

    .navbar-nav > .active > a {
        border-bottom: 3px solid #ffd636;
    }
}

@media(min-width: 992px) {
    body {
        margin-bottom: 60px;
    }

    .border-between > [class*='col-']:before {
        background: #e3e3e3;
        bottom: 0;
        content: " ";
        left: 0;
        position: absolute;
        width: 1px;
        top: 0;
    }

    .border-between > [class*='col-']:first-child:before {
        display: none;
    }

    .footer {
        position: absolute;
        text-align: center;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 60px;
        background-color: #f5f5f5;
    }
}

@media(max-width: 991px) {
    body {
        margin-bottom: 180px;
    }
    .footer {
        position: absolute;
        text-align: center;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 180px;
        background-color: #f5f5f5;
    }
}

@media(max-width: 767px) {
    .navbar-header {
        overflow: hidden;
        padding-bottom: 3px;
    }
}